{% extends 'base.html' %}

{% block title%} create {% endblock %}

{% block body %}
<h1 align="center">Cadastrar Paciente</h1>
<table align="center">
    <tr>
        <td>
           <a href="{% url 'home' %}"><button>HomePage</button></a>
            <a href="{% url 'list' %}"><button> Lista de Pacientes</button></a>
<a href="{% url 'virus' %}"><button> Cadastrar virus</button></a>
<a href="{% url 'listav' %}"><button>Lista de Virus</button></a>
<a href="{% url 'diagnostico' %}"><button> Diagnosticos</button></a>
        </td>
    </tr>
</table>


<form method="post" >

      {% csrf_token %}
      {{form.as_p}}


      <button type="submit" class="btn btn-primary">salvar</button>
</form>

{% endblock %}
