<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table align="center">
   <tr> <td>
       <a href="{% url 'home' %}"><button>HomePage</button></a>
<a href="{% url 'list' %}"><button> Lista de Pacientes</button></a>
<a href="{% url 'create' %}"><button> Cadastrar Pacientes</button></a>
<a href="{% url 'virus' %}"><button> Cadastrar virus</button></a>
<a href="{% url 'listav' %}"><button>Lista de Virus</button></a>
<a href="{% url 'diagnostico' %}"><button> Diagnosticos</button></a>



   </td></tr>
</table>

<<h3 align="center">Realmente deseja deletar {{ prevencao.virus }}?</h3>

<form method="POST" align="center">
     {% csrf_token %}
    {{form.virus}}
    <button class="btn btn-warning">Sim</button><br/>
</form>

<p align="center"><a href="{% url 'list' %}"><button class="btn btn-secondary">Não</button></a></p>
</body>
</html>