{% load static %}
<!<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'style.css' %}" rel="stylesheet" >
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
</head>
<tbody>
<h1 align="center" >Lista de Pacientes</h1>
<!--READ(comantario dentro do html)-->
<table align="center">
    <tr>
        <td>
           <table align="center">
   <tr> <td>
<a href="{% url 'home' %}"><button>HomePage</button></a>
<a href="{% url 'create' %}"><button> Cadastrar Pacientes</button></a>
<a href="{% url 'virus' %}"><button> Cadastrar virus</button></a>
<a href="{% url 'listav' %}"><button>Lista de Virus</button></a>
<a href="{% url 'diagnostico' %}"><button> Diagnosticos</button></a>



   </td></tr>
</table>

        </td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>

</table>
 {% for pessoa in pessoa %}
<div class="container">
  <div class="row" >
    <div class="col-sm">
      Nome
    </div>
      <div class="col">
       {{pessoa.nome}}
      </div>
    <div class="col-sm">
     CPF
        </div>
        <div class="col">
            {{pessoa.CPF}}
            </div>
    <div class="col-sm">
        Data de Cadastro
    </div>
      <div class="coll">
      {{pessoa.data_de_cadastro}}
      </div>
      <div class="col-sm">
          <a href="{% url 'delete' pessoa.id %}"><button class="btn btn-danger">Deletar</button></a>
      </div>
      <div class="col">
          <a href="{% url 'update' pessoa.id %}"><button class="btn btn-info">Atualizar</button></a>
      </div>
  </div>
</div>
    {% endfor %}
</tbody>
</html>
